.detail_contents {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.detail_contents img {
  width: 350px;
}
.detail_wrap {
  display: flex;
  flex-direction: column;
}
.detail_wrap h2,
.detail_wrap p,
.detail_wrap button {
  margin-bottom: 10px;
}
.detail_price {
  font-size: 24px;
}
.detail_btn {
  color: white;
  background-color: darkorange;
  padding: 10px;
  margin-top: 10px;
}
